{% extends 'base.html.twig' %}

{% block body %}

    <!-- "parent()" importa del bloque el body de layout.html.twig. En este caso es para e menú -->
    {{ parent() }}

    {# Progress bar #}
    <div class="progress no-border hidden" id="delete-progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span class="sr-only">Loading...</span>
        </div>
    </div>  

    {{ include('Review/messages/success.html.twig') }}

    <div class="container">
        <div class="col-md-12">
            <div class="page-header margin-none">
                <h2 class="padding-none">Criterias</h2>
            </div>
            <div class="table-responsive">
                <p>
                    Total records: <span id="total">{{ pagination.getTotalItemCount }}</span>
                </p>  
                <div style="padding-left: 15%;padding-bottom: 10%" class="rTableCell">
                    <a href="{{ path("app_criteria_add") }}" id="calculateScore" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>
                        {{ 'Create' }}
                    </a>
                </div>  



                {# Si no encuentra registros, muestra un mensaje #}
                {% if not pagination|length %}
                    <h2>{{ 'No search results'|trans}}</h2>
                {% endif %}

                {% if pagination|length %}

                    <div class="rTableBackground">
                        <div  class="rTableRow">
                            <div  class="rTableCell">
                                <input type="text" id="filterTopic"  placeholder="{{'Filter by Topic '}}" />
                            </div>
                            <div  class="rTableCell">
                                <input type="text" id="filterName"  placeholder="{{'Filter by Name '}}" />
                            </div>   
                            <div  class="rTableCell">
                                <input type="text" id="filterAttribute"  placeholder="{{'Filter by attribute '}}" />
                            </div>                             
                            <div  class="rTableCell">
                                <span id="filter-list" style="cursor:pointer" title="Filter" class="glyphicon glyphicon-filter"></span>
                            </div>                             
                            <div  class="rTableCell">
                                <span id="clear-filter" style="cursor:pointer" title="Clear filter" class="glyphicon glyphicon-refresh"></span>
                            </div>   
                        </div>
                    </div>                                 
                    <div id="criterias-container">{% include "Criteria/criterias_list.html.twig" %}</div>
                    <div id="loading">{% include "util/progress-bar.html.twig" %}</div>
                {% endif %}

            </div>
        </div>
    </div>

    {{ include('Form/delete_form.html.twig', { form: delete_form_ajax, 
            message: 'Are you sure ?'|trans,
            id: "form-delete",
            with_submit: false }) 
    }}                

{% endblock %}

{% block javascripts  %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/delete-ajax-id.js') }}"></script>

    <script>
        $(document).ready(function () {

            // Filter list
            var $filterTopic = $('#filterTopic');
            var $filterName = $('#filterName');
            var $filterAttribute = $('#filterAttribute');


            // Press enter
            $('#filterName').on('keypress', function (e) {
                if (e.which === 13) {
                    filterList($filterTopic, $filterName, $filterAttribute);
                }
            });

            $('#filterAttribute').on('keypress', function (e) {
                if (e.which === 13) {
                    filterList($filterTopic, $filterName, $filterAttribute);
                }
            });

            $('#filterTopic').on('keypress', function (e) {
                if (e.which === 13) {
                    filterList($filterTopic, $filterName, $filterAttribute);
                }
            });

            // click icon filter
            $('#filter-list').on('click', function (e) {
                filterList($filterTopic, $filterName, $filterAttribute);
            });

            function filterList(filterTopic, filterName, filterAttribute) {
                var params = getParams(filterTopic, filterName, filterAttribute) + '&pag=1';
                ajaxRefreshDiv("GET", "index", params, "criterias-container");
            }

            // KNP Paginator Ajax
            $('#criterias-container').on('click', ".navigation .pagination li a", function (e) {
                e.preventDefault();
                var params = getParams($filterTopic, $filterName, $filterAttribute) + '&pag=' + $(this).html();
                ajaxRefreshDiv("GET", "index", params, "criterias-container");
            });

            // Clear filter     
            $('#clear-filter').on('click', function (e) {
                $('#filterTopic').val('');
                $('#filterName').val('');
                $('#filterAttribute').val('');

                var params = getParams($filterTopic, $filterName, $filterAttribute) + '&pag=1';
                ajaxRefreshDiv("GET", "index", params, "criterias-container");
            });


            function getParams(filterTopic, filterName, filterAttribute) {
                var params = '?topic=' + filterTopic.val();
                params += '&criteriaName=' + filterName.val();
                params += '&attribute=' + filterAttribute.val();

                return params;
            }

        });

    </script>       
{% endblock %}